*{
    box-sizing: border-box;
}
body{
    background-color: rgb(199, 211, 205);
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
/*nav*/
nav{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0px;
    margin-bottom: 5rem;
    z-index: 0px;
    border-bottom: 4px solid rgb(40, 65, 54);
    -webkit-box-shadow: 0px 0px 22px 13px rgb(71, 117, 97); 
    box-shadow: 0px 0px 22px 13px rgb(71, 117, 97);
}
nav img{
    width: 100%;
    min-width: 100px;
}
nav a{
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid white;
}
a.ultimoEnlace{
    border-right:none;
}

nav label{
    color: white;
    font-size: small;
}
nav input{
    background-color: rgb(34, 34, 34);
    border: 1px solid white;
    color: white;
    border-radius: 20px;
}
nav button{
    color: white;
    background-color: rgb(71, 117, 97);
    width: 100%;
    font-family: inherit;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 1rem;
    border-radius: 20px;
}
.logo{
    width: 5%;
    min-width: 100px;
}
.enlaces{
    text-align: center;
    align-items: center;
}
.registroUsuario{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: inherit;
    font-size: small;
}
.registroUsuarioPartes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
/*MARCAS*/
.marcas{
    width: 70%;
    margin: auto;
    background-color: rgb(175, 187, 182);
}
.filas img{
    width: 100%;
    -webkit-box-shadow: 0px 0px 22px 13px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3);
    object-fit: cover;
}
.filas{
    display:flex;
    width: 16.6666%;
}
h2{
    text-align: center;
    font-size: xx-large;
}
nav a:hover{
    background-color: rgb(233, 255, 224);
    color: black;
}
.filas img:hover{
    -webkit-box-shadow: 0px 0px 22px 13px rgb(40, 65, 53); 
    box-shadow: 0px 0px 12px 0px rgb(40, 65, 53);
    background-color: rgb(186, 199, 194);
    border: 2px solid rgb(94, 99, 97);
}